body {background-color: #D4F1E3;}

h2{ 
color:#826AED;
font-size:200%;
letter-spacing:10px;}

ul{
  list-style-type: none; 
  bacground-color: #826AED; 
  width: 150%; 
  overflow: hidden; 
  position: fixed; 
  text-align: center; 
  left: 0; 
  top: 0; 
  margin: 0; 
}

li{
  float: left;
}

li a{
  display: block; 
  color: black; 
  text-decoration: none; 
  padding: 15px 50px; 
}

li a:hover {
  background-color: pink;
    color: white;
}
